@import url(http://fonts.googleapis.com/css?family=Euphoria+Script);
@import url(http://fonts.googleapis.com/css?family=Montserrat:700);
@import "compass";
@import "foundation";

nav {
  width: 100%;
  background-color: #987DB0;
  box-shadow: inset 0px -2px 5px #816996;
  ul {
    padding: 10px 20px;
    text-align: center;
  }
  li {
    display: inline-block;
    padding: 0 20px;
    a:link, a:visited {
      font-weight: bold;
      color: #5A446E;
      padding: 8px 7px 5px 7px;
    }
    a:hover, a:active {
      background-color: #DFCEEB;
      color: #5A446E;
    }
  }
}

header {
  @include grid-row();
}

h1 {
  @include grid-column(12);
  font-family: 'Euphoria Script', cursive;
  font-size: 80px;
  text-align: center;
  color: #fff;
  text-shadow: 0px 2px 3px #6C4373;
  line-height: 1.2;
  margin-bottom: 30px;
  a:link, a:active, a:visited, a:hover {
    color: #fff;
  }
}
h1 span {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  display: block;
  letter-spacing: 2px;
  color: #DFCEEB;
  text-shadow: 0px 1px 3px #84649E;
}

body {
  background-color: #B499CC;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  margin: 0px auto 20px;
}

.axovideo {
  @include grid-row();
  .video { @include grid-column(12); }
  text-align: center;
  margin-bottom: 30px;
}

#wrapper {
  @include grid-row();
}

#content {
  @include grid-column(12);
  color: #383140;
  margin-bottom: 200px;
}

#title {
  color: #383140;
  text-shadow: 0px 1px 3px #84649E;
  font-size: 2em;
  
}
p {

  a{ color: #1b96bb;}
  a:hover{ color: #0b86ab;}
}
#category{
  font-size:1.8em;
}
#subcategory {
    font-weight:600;
}