---
title: Resources
---


<div id="wrapper">
<div id="content"  style="padding: 0 5%;">

 <span id="title" style="display:block">
	Resources:</span>

<div style="display:block;float:left;width:60%;margin-right:5%;">
	<span id="category">On Campus:</span> </br>
	<span id="subcategory">CMU's Counseling and Psychological Service: </span></br>
	Call 412-268-2922 to make an appointment of for 24/7 for crisis support. </br>
	<span id="subcategory">Survivor Support Network: </span></br>
	SSN is a team of people in the CMU community that have been trained to support, information and resources to people who have experienced sexual and domestic violence.</br>
	<span id="subcategory">Jess Klein: </span></br>
	CMU's Coordinator of Gender Programs and  Sexual Violence Prevention. Contact her by phone at (412)268-2237 or by email at jeklein. </br>
	<span id="subcategory">University Police:  </span></br>
	For security, escorting to a hospital or to pursue legal action, call the University Police at 412-268-2323. </br>
	<span id="subcategory">University Health Services:  </span></br>
	Receive safe and confidential treatment at the offices in the 1st floor of Morewood E towers. Open 8:30am - 7pm on Monday, Tuesday and Wednesday, 10am - 7pm on Thursday, 8:30am - 5pm on Fridays and 11am to 3pm on Saturdays. Call 412-268-2157 or go to HealthConnect to set up an appointment. </br>
	<span id="subcategory">Ethics reporting hotline:  </span></br>
	Students may anonymously report an incident or concerns by calling 877-700-7050.</br>
	<span id="subcategory">Womens' Center and Shelter of Greater Pittsburgh: </span></br>
	The WCS provides support groups, legal advocacy and medical advocacy.</br>
24/7 hotline: (412) 687-8005</br>
Legal advocacy: (412) 355-7400</br>
medical advocacy: (412) 232-7479</br>
</div>
<div style="display:block;float:right;width:35%;">
<span id="category">Hotlines:</span> </br>
<span id="subcategory">National Domestic Violence Hotline:  </span></br>
800-799-SAFE</br>
<span id="subcategory">National Sexual Assualt Hotline: </span></br>
 
800-656-HOPE</br>
<span id="subcategory">Mary Kay Love is Respect: </span></br>

For questions and support, text LoveIs to 22522 </br>
Call the 24/7 hotline:  1-866-331-9474 </br>
or visit loveisrespect.org to live chat 24/7</br>

</div>
<div style="display:block;float:right;width:35%;">
<span id="category" >Reminders:</span> </br>
<span id="subcategory">If you have just experienced an assault, seek medical attention and call Campus Police. </span></br></br>
<span id="subcategory">If you are in immediate danger, call 911 now.  </span></br></br>

<span id="subcategory">If you have a family member or a friend you are concerned about, express your concern in a safe and private place and give them this card. </span></br></br>


</div>




</div>
</div>
