---
title: Who We Are
---


<div id="wrapper">
<div id="content"  style="padding: 0 15%;">

 <span id="title">
		Who We Are:</span>

<div style="display:block;">


<p ><img  src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xfp1/t31.0-8/10482017_829164973784571_732485644571784582_o.jpg"></p>
We are the women of the Kappa Nu chapter of Alpha Chi Omega at Carnegie Mellon University. We are computer Scientists, Mathematicians, Dramaturgs, Historians, Creative Writers, Engineers, Artists, Physicists, Architects, Biologists, Stateticians, Writers, Singers, Business Women, Philosophers, Chemists, and more. </br>

We are a relatively new chapter and we strive to make a difference on our campus by empowering women and promoting domestic violence awareness.</br>


<span id="category">What Other Chapters Are Doing:</span> 
<p>Write on a piece of paper (or a whiteboard to save paper) "I support healthy relationships because…" and complete the sentence with your reasons for being part of the movement. You post them on Facebook, Tumblr or Instagram and tag it with #HRW, #healthyAXOlove and #CMUHRW. 
</p></div>
<div style="display:inline-block;"><span id="category">On Campus:</span> <p style="padding-left:15px;">

<span id="subcategory">What:</span> Healthy Relationships Week Tabling</br>
<span id="subcategory">When:</span> Feb 23rd, noon to 5pm</br>
<span id="subcategory">Where:</span> UC tabling</br>
We'll have cameras and whiteboards so come by and we'll take your photo for you! </p>
<p style="padding-left:15px;">
<span id="subcategory">What:</span> These Hands Don't Hurt</br>
<span id="subcategory">When:</span>  Feb 27th, noon to 6pm</br>
<span id="subcategory">Where:</span> UC tabling</br>
Come and pay a dollar to make a paper hand cut-out and write "These hands don't hurt" and sign your name as a pledge to not commit domestic violence. </br>
Proceeds go to the Women's Center and Shelter of Greater Pittsburgh and the Alpha Chi Omega Foundation. </p>

<span id="category">Donate:</span><p style="padding-left:15px;">
You can <a href="https://www.wcspittsburgh.org/WCSDonateNow">donate directly to the Women's Center and Shelter of Greater Pittsburgh</a> or click <a href="http://www.womenshelters.org">here</a> to search for one near you.
</p>
</div>
</div>
</div>
